/* :root {
  --card: clamp(400px, 20vw, 500px);
  --gap: clamp(25px, 3vw, 25px);

} */

:root {
  --card: clamp(280px, 30vw, 400px);
  --gap: clamp(16px, 2vw, 25px);
}


body{
    height: 100vh;
}


.portfolio-section {
    display: block;   
    align-content: center; justify-content: center;
}
.portfolioTitle_hs,
.portfolio-filters_hs,
.movingImg_hs {
    /* transform: translateY(80px); */
    opacity: 0;
}
@keyframes scroll_down_hs {
    from {
        transform: translateY(80px); opacity: 0;
    }
    to {
        transform: translateY(0); opacity: 1;
    }
}

.portfolioTitle_hs
{
    animation: scroll_down_hs linear;
    animation-timeline: scroll();
    animation-range: 33% 37%; /*병합 후 30% 37% 추정*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.portfolio-filters_hs{
    margin-top: 0px;
    margin-bottom: 20px;
    animation: scroll_down_hs linear;
    animation-timeline: scroll();
    animation-range: 33% 37%; /*병합 후 33% 40% 추정*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.movingImg_hs {
    animation: scroll_down_hs linear;
    animation-timeline: scroll();
    animation-range: 36% 40%; /*병합 후 36% 43% 추정*/
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.portfolio-section .portfolioTitle_hs{
    justify-content: center; text-align: center; padding: 10px;
    margin-top: 0;
    
}
.portfolio-section .portfolioTitle_hs h2{
    font-size: 38px; font-weight: 900; color: rgb(60, 80, 124);
    margin-bottom: 5px; padding: 10px;
}
.portfolio-section .portfolioTitle_hs hr{
    position: relative;
    width: 180px;
    height: 2px;

    overflow: visible;

    margin: 0 auto;
    
}
.portfolio-section .portfolioTitle_hs hr::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;                        
  transform: translate(-50%, -50%);
  width: 60px;
  height: 3px;
  background-color: rgb(85, 176, 226);
}


.portfolio-section .portfolioTitle_hs p{
    padding: 20px;
    font-size: 17px;
}
.portfolioBody_hs{
    height: 1500px;
    position: relative;
    display: flex;
    align-content: center; justify-content: center;
    
    padding: 30px;
}
.portfolio-section .portfolioBody_hs .layout_hs{
    width: 100%;           /* 화면 크기에 따라 자동 */
    max-width: 1400px;     /* 너무 커지지 않게 */
    margin: 0 auto;        /* 가운데 정렬 */
    padding: 0 24px;       /* 양쪽 여백 */
    box-sizing: border-box;

    display: flex;
    align-content: flex-start;
    /* justify-content: center; */

    flex-direction: column;   /* ⭐ 핵심 */
    align-items: center;      /* 가로 가운데 */
}
.portfolioBody_hs input[type="radio"] {
    display: none;
}


.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs{
    padding: 10px;
    justify-content: center; display: flex; flex-direction: row; list-style: none;
}

.portfolio-filters_hs label {
    display: block;
    padding: 7px 21px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs li{
    padding: 10px 20px; margin: -3px;
}
.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs li label{
    margin: 0;  
}

.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs label:hover{
    background-color: rgb(85, 176, 226);
    color: white;
}


/* ⭐ 클릭 고정 상태 */
#filter-all:checked  ~ .portfolio-filters_hs label[for="filter-all"],
#filter-app:checked  ~ .portfolio-filters_hs label[for="filter-app"],
#filter-card:checked ~ .portfolio-filters_hs label[for="filter-card"],
#filter-web:checked  ~ .portfolio-filters_hs label[for="filter-web"] {
    background-color: rgb(85, 176, 226);
    color: white;
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs {
    position: relative; display: flex; justify-content: center;
    width: 100%;
    height: 800px;        /* 작업하기 편하게 임시로 크게 */

    
    /*
    transition: 
        top 0.6s ease,
        left 0.6s ease,
        opacity 0.4s ease;
    */
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
    position: relative; box-sizing: border-box;flex: 0 0 auto;
    width: calc(var(--card) * 3 + var(--gap) * 2);
    /* width: 1000px;  */
    height: 900px; margin: 0 auto;
}



.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .imgCard {
    position: absolute;   /* ⭐ 직접 좌표 지정 가능 */
    width: var(--card);
    margin: 0;
    overflow: hidden;

    transition:top 0.5s ease,left 0.5s ease,width 0.4s ease,opacity 0.3s ease;
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .imgCard img {
    width: 100%;
    height: auto;
    display: block;
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info {
    display: flex; justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%; height: 90px; margin: 0 0 ;

    background-color: rgba(255, 255, 255, 0.88);

    transform: translateY(100%);  /* ⭐ 자기 높이만큼 정확히 아래 */
    transition: transform 0.4s ease;

    padding: 12px 12px;
    box-sizing: border-box;
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .text{display:inline-block; align-content: flex-start;}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .text>h4{padding:5px; margin: 0 0; font-size: 18px; font-weight: 900; color: rgb(60, 80, 124);}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .text>p{padding:5px; margin: 0; font-size: 14px; color: gray;}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .button{display:flex; flex-wrap: row nowrap; padding: 3px 6px; margin: 0; justify-content: center; align-content: center;}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .button .readingGlasses_hs{
    width: 40px;
    height: 40px;

    /* background-image: url("./icons/icon_reading_chain.svg");
    background-repeat: no-repeat;

    background-size: 200% auto;     
    background-position: 3% 0%;   */

}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .portfolio-info .button .chain_hs {
    width: 40px;
    height: 40px;

    /* background-image: url("./icons/icon_reading_chain.svg");
    background-repeat: no-repeat;

    background-size: 200% auto;     
    background-position: 90% 0%;   */

}

.bi-zoom-in{
    width: 20px; height: 20px; padding: 5px; margin: 5px;
}
.bi-link-45deg{
    width: 20px; height: 20px; padding: 5px; margin: 5px;
}
.bi-zoom-in:hover, .bi-link-45deg:hover{
    color: rgb(85, 176, 226);
    cursor: pointer;
}


/* .movingImg_hs .imgCard:hover .portfolio-info {
    transform: translateY(0);
} */


/*카드의 기본 상태 정의*/
.card-cactus { top: 0; left: 0; }
.card-ampoule { top: 0; left: calc(var(--card) + var(--gap)); }
.card-paint { top: 0; left: calc((var(--card) + var(--gap)) * 2); }
.card-writing { top: calc(0.66 * var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); }
.card-flower-brush { top: calc(0.66 * var(--card) + var(--gap)); left: calc((var(--card) + var(--gap)) * 2); }
.card-highlight-pens { top: calc(1.33 * var(--card) + var(--gap)); left: 0; }
.card-string { top: calc(0.66 * var(--card) * 2 + var(--gap) * 2); left: calc(var(--card) + var(--gap)); }
.card-coloring-pencils { top: calc(0.66 * var(--card) + 1.33 * var(--card) + var(--gap) * 2); left: calc((var(--card) + var(--gap)) * 2); }
.card-glasses-book { top: calc(0.66 * var(--card) * 2 + 1.33 * var(--card) + var(--gap) * 2); left: calc(var(--card) + var(--gap)); }




#filter-all:checked ~ .movingImg_hs .card-cactus { top: 0px; left: 0px; opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-ampoule { top: 0px; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-paint { top: 0px; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-writing{ top: calc(0.66 * var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-flower-brush{ top: calc(0.66 * var(--card) + var(--gap)); left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-highlight-pens{ top: calc(1.33 * var(--card) + var(--gap)); left: 0px; opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-string{top: calc(0.66 * var(--card) * 2 + var(--gap) * 2); left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-coloring-pencils{top: calc(0.66 * var(--card) + 1.33 * var(--card) + var(--gap) * 2); left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-glasses-book{top: calc(0.66 * var(--card) * 3 + var(--gap) * 3); left: calc(var(--card) + var(--gap)); opacity: 1;}

/*App 메뉴 클릭 시*/
#filter-app:checked ~ .movingImg_hs .card-cactus {top: 0; left: 0; opacity: 1;}
#filter-app:checked ~ .movingImg_hs .card-writing {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-app:checked ~ .movingImg_hs .card-string {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-app:checked ~ .movingImg_hs 
.imgCard:not(.card-cactus):not(.card-writing):not(.card-string) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}

/*Card 메뉴 클릭 시*/
#filter-card:checked ~ .movingImg_hs .card-ampoule {top: 0; left: 0; opacity: 1;}
#filter-card:checked ~ .movingImg_hs .card-flower-brush {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-card:checked ~ .movingImg_hs .card-coloring-pencils {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-card:checked ~ .movingImg_hs 
.imgCard:not(.card-ampoule):not(.card-flower-brush):not(.card-coloring-pencils) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}

/*Web 메뉴 클릭 시*/
#filter-web:checked ~ .movingImg_hs .card-paint {top: 0; left: 0; opacity: 1;}
#filter-web:checked ~ .movingImg_hs .card-highlight-pens {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-web:checked ~ .movingImg_hs .card-glasses-book {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-web:checked ~ .movingImg_hs 
.imgCard:not(.card-paint):not(.card-highlight-pens):not(.card-glasses-book) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}






.imgCard img {
    width: 100%;
    height: auto;
    display: block;
}


.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-cactus:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-ampoule:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-paint:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-writing:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-flower-brush:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-highlight-pens:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-string:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-coloring-pencils:hover .portfolio-info {
    transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-glasses-book:hover .portfolio-info {
    transform: translateY(0);
}


.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus img{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text h4{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text p{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button .readingGlasses{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button .chain{}

.portfolioBody_hs .layout_hs .movingImg_hs .ampoule{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .ampoule{}

/*2열*/
@media (max-width: 1047px){
    .portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
        width: calc(var(--card) * 2 + var(--gap) * 1);
        height: calc(0.66*var(--card)*2 + 1.33*var(--card)*2 + var(--gap)*4);
    }

  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-cactus {top: 0px; left: 0px; opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-ampoule {top: 0px; left: calc(var(--card) + var(--gap));opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-paint {top: calc(0.66*var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-writing {top: calc(1.33*var(--card) + var(--gap));left: 0px;opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-flower-brush {top: calc(0.66*var(--card)*2 + var(--gap)*2);left: calc(var(--card) + var(--gap));;opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-highlight-pens {top: calc(1.33*var(--card) + 0.66*var(--card) + var(--gap)*2);left: 0px;opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-string {top: calc(0.66*var(--card)*2 + 1.33*var(--card) + var(--gap)*3);left: calc(var(--card) + var(--gap));opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-coloring-pencils {top: calc(0.66*var(--card) + 1.33*var(--card)*2 + var(--gap)*3);left: 0px;opacity: 1;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-glasses-book {top: calc(0.66*var(--card)*2 + 1.33*var(--card) + var(--gap)*3);left: calc(var(--card) + var(--gap));opacity: 1;}
}

/*app 선택 시*/
@media (max-width:1047px) {
    
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-cactus {top: 0; left: 0;}
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-writing {top: 0; left: calc(var(--card) + var(--gap));}
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-string {top: calc(var(--card)*0.66 + var(--gap)); left: calc(var(--card) + var(--gap));}
}

/*card 선택 시*/
@media (max-width: 1047px) {
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-ampoule {top: 0; left: 0;}
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-flower-brush {top: 0; left: calc(var(--card) + var(--gap));}
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-coloring-pencils {top: calc(var(--card)*0.66 + var(--gap)); left: 0;}
}


/*web 선택 시*/
@media (max-width: 1047px) {
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-paint {top: 0; left: 0;}
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-highlight-pens {top: 0; left: 32h5px;}
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-glasses-book {top: calc(var(--card)*0.66 + var(--gap)); left: 0;}
  /* calc(var(--card)+ var(--gap)) */
/* calc(var(--card)*0.66 + var(--gap)); left: 0 */
}


/*1열*/
@media (max-width: 767px) {
    
    /* .portfolio-section{
        /height: calc(0.66*var(--card)*5 + 1.33*var(--card)*3 + var(--gap)*8); 
        height: 3000px;
    } */
    .portfolio-section{
        height: auto;   /* ⭐ 위 공백 원인 제거 */
    }

    .portfolioBody_hs {
        height: 2700px; /* 기본 (ALL) */
    }

    .portfolioBody_hs:has(#filter-app:checked),
    .portfolioBody_hs:has(#filter-card:checked),
    .portfolioBody_hs:has(#filter-web:checked) {
        height: 1000px;
    }
    /* .portfolio-section .portfolioBody_hs{
        height: calc(0.66*var(--card)*5 + 1.33*var(--card)*3 + var(--gap)*8);
    } */
    .portfolio-section .portfolioBody_hs .layout_hs{
        /* width: calc(var(--card));
        height: calc(0.66*var(--card)*5 + 1.33*var(--card)*3 + var(--gap)*8); */
        height: auto;
        flex-shrink: 0;
    }
    .portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs{
        width: calc(var(--card));
        height: auto;
    }
    .portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
        width: calc(var(--card));
        height: auto;
    }
    



  .movingImg_hs .imgCard { width: 100%;left: 0 !important;}

  /* ===== ALL ===== */
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-cactus {top: 0px;}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-ampoule {top: calc(1.33*var(--card) + var(--gap));}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-paint {top: calc(1.33*var(--card) + 0.66*var(--card) + var(--gap)*2);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-writing {top: calc(1.33*var(--card) + 0.66*var(--card)*2 + var(--gap)*3);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-flower-brush {top: calc(1.33*var(--card) + 0.66*var(--card)*3 + var(--gap)*4);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-highlight-pens {top: calc(1.33*var(--card)*2 + 0.66*var(--card)*3 + var(--gap)*5);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-string {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*3 + var(--gap)*6);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-coloring-pencils {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*4 + var(--gap)*7);}
  #filter-all:checked ~ .movingImg_hs .card-wrapper .card-glasses-book {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*5 + var(--gap)*8);}
}

@media (max-width: 767px) {

  #filter-app:checked  ~ .portfolioBody_hs {
    height: 1000px;
  }

  #filter-card:checked ~ .portfolioBody_hs {
    height: 1000px;
  }

  #filter-web:checked  ~ .portfolioBody_hs {
    height: 1000px;
  }
}


@media (max-width: 767px) {
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-cactus {top: 0px;}
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-writing {top: calc(var(--card)*1.33 + var(--gap)*1);}
  #filter-app:checked ~ .movingImg_hs .card-wrapper .card-string {top: calc(var(--card)*1.33 + var(--card)*0.66 + var(--gap)*2);}
}

@media (max-width: 767px) {
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-ampoule {top: 0px;}
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-flower-brush {top: calc(0.66*var(--card) + var(--gap));}
  #filter-card:checked ~ .movingImg_hs .card-wrapper .card-coloring-pencils {top: calc((0.66*var(--card) + 1.33*var(--card) + var(--gap)*2));}
}

@media (max-width: 767px) {
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-paint {top: 0px;}
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-highlight-pens {top: calc((0.66*var(--card) + var(--gap)));}
  #filter-web:checked ~ .movingImg_hs .card-wrapper .card-glasses-book {top: calc(0.66*var(--card) + 1.33*var(--card) + var(--gap)*2);}
}



/* @media (max-width: 1047px) {
  .imgCard {
    width: 45%;
  }
} */



