:root {
  /*--card-size: 300px;*/
  --card: clamp(240px, 20vw, 300px);
  --gap: clamp(25px, 3vw, 25px);
}

.Portfolio *{
    align-content: center;
    justify-content: center;
}
.portfolio-section .portfolioTitle_hs{
    background-color: blueviolet;
    justify-content: center; text-align: center; padding: 10px;
}
.portfolio-section .portfolioTitle_hs h2{

    margin-bottom: 5px;
    padding: 3px;
}
.portfolio-section .portfolioTitle_hs hr{
    width: 130px;
    height: 1px;
    border: 0;
    background-color: gray;
}
.portfolio-section .portfolioTitle_hs p{}
.portfolioBody_hs{
    background-color: aqua;
    position: relative;
    display: flex;
    align-content: center;
    
    padding: 30px;
}
.portfolio-section .portfolioBody_hs .layout_hs{
    background-color: yellow;

    width: 100%;           /* 화면 크기에 따라 자동 */
    max-width: 1200px;     /* 너무 커지지 않게 */
    margin: 0 auto;        /* 가운데 정렬 */
    padding: 0 24px;       /* 양쪽 여백 */
    box-sizing: border-box;
}
.portfolioBody_hs input[type="radio"] {
    display: none;
}


.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs{
    background-color: antiquewhite;
    justify-content: center; display: flex;

    flex-direction: row; list-style: none;
}

.portfolio-filters_hs label {
    display: block;
    padding: 7px 21px;
    margin: 10px;
    background-color: pink;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs li{
    padding: 10px 20px; margin: -3px;

}

.portfolio-section .portfolioBody_hs .layout_hs .portfolio-filters_hs label:hover{
    background-color: skyblue;
    color: white;
}


/* ⭐ 클릭 고정 상태 */
#filter-all:checked  ~ .portfolio-filters_hs label[for="filter-all"],
#filter-app:checked  ~ .portfolio-filters_hs label[for="filter-app"],
#filter-card:checked ~ .portfolio-filters_hs label[for="filter-card"],
#filter-web:checked  ~ .portfolio-filters_hs label[for="filter-web"] {
    background-color: skyblue;
    color: white;
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs {
    position: relative; display: flex; justify-content: center;
    width: 100%;
    height: 800px;        /* 작업하기 편하게 임시로 크게 */
    background-color: lightgray;

    
    /*
    transition: 
        top 0.6s ease,
        left 0.6s ease,
        opacity 0.4s ease;
    */
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
    position: relative;
    width: calc(var(--card) * 3 + var(--gap) * 2);
    /* width: 1000px;  */
    height: 900px; margin: 0 auto;
    background-color: pink;
}



.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper .imgCard {
    position: absolute;   /* ⭐ 직접 좌표 지정 가능 */
    width: var(--card);
    margin: 0;
    overflow: hidden;

    transition:top 0.5s ease,left 0.5s ease,width 0.4s ease,opacity 0.3s ease;
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .imgCard img {
    width: 100%;
    height: auto;
    display: block;
}
.portfolio-info {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 300px;
    height: 100px;

    background-color: rgba(255, 255, 255, 0.88);
    opacity: 1;

    transform: translateY(100%);  /* ⭐ 자기 높이만큼 정확히 아래 */
    transition: transform 0.4s ease;

    padding: 12px 12px;
    box-sizing: border-box;
}


/* .movingImg_hs .imgCard:hover .portfolio-info {
    transform: translateY(0);
} */



/*카드의 기본 상태 정의*/
.card-cactus { top: 0; left: 0; }
.card-ampoule { top: 0; left: calc(var(--card) + var(--gap)); }
.card-paint { top: 0; left: calc((var(--card) + var(--gap)) * 2); }
.card-writing { top: calc(0.66 * var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); }
.card-flower-brush { top: calc(0.66 * var(--card) + var(--gap)); left: calc((var(--card) + var(--gap)) * 2); }
.card-highlight-pens { top: calc(1.33 * var(--card) + var(--gap)); left: 0; }
.card-string { top: calc(0.66 * var(--card) * 2 + var(--gap) * 2); left: calc(var(--card) + var(--gap)); }
.card-coloring-pencils { top: calc(0.66 * var(--card) + 1.33 * var(--card) + var(--gap) * 2); left: calc((var(--card) + var(--gap)) * 2); }
.card-glasses-book { top: calc(0.66 * var(--card) * 2 + 1.33 * var(--card) + var(--gap) * 2); left: calc(var(--card) + var(--gap)); }




#filter-all:checked ~ .movingImg_hs .card-cactus { top: 0px; left: 0px; opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-ampoule { top: 0px; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-paint { top: 0px; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-writing{ top: calc(0.66 * var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-flower-brush{ top: calc(0.66 * var(--card) + var(--gap)); left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-highlight-pens{ top: calc(1.33 * var(--card) + var(--gap)); left: 0px; opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-string{top: calc(0.66 * var(--card) * 2 + var(--gap) * 2); left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-coloring-pencils{top: calc(0.66 * var(--card) + 1.33 * var(--card) + var(--gap) * 2); left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-all:checked ~ .movingImg_hs .card-glasses-book{top: calc(0.66 * var(--card) * 3 + var(--gap) * 3); left: calc(var(--card) + var(--gap)); opacity: 1;}

/*App 메뉴 클릭 시*/
#filter-app:checked ~ .movingImg_hs .card-cactus {top: 0; left: 0; opacity: 1;}
#filter-app:checked ~ .movingImg_hs .card-writing {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-app:checked ~ .movingImg_hs .card-string {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-app:checked ~ .movingImg_hs 
.imgCard:not(.card-cactus):not(.card-writing):not(.card-string) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}

/*Card 메뉴 클릭 시*/
#filter-card:checked ~ .movingImg_hs .card-ampoule {top: 0; left: 0; opacity: 1;}
#filter-card:checked ~ .movingImg_hs .card-flower-brush {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-card:checked ~ .movingImg_hs .card-coloring-pencils {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-card:checked ~ .movingImg_hs 
.imgCard:not(.card-ampoule):not(.card-flower-brush):not(.card-coloring-pencils) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}

/*Web 메뉴 클릭 시*/
#filter-web:checked ~ .movingImg_hs .card-paint {top: 0; left: 0; opacity: 1;}
#filter-web:checked ~ .movingImg_hs .card-highlight-pens {top: 0; left: calc(var(--card) + var(--gap)); opacity: 1;}
#filter-web:checked ~ .movingImg_hs .card-glasses-book {top: 0; left: calc((var(--card) + var(--gap)) * 2); opacity: 1;}
#filter-web:checked ~ .movingImg_hs 
.imgCard:not(.card-paint):not(.card-highlight-pens):not(.card-glasses-book) {
  top: 1000px;      /* 화면 아래로 */
  opacity: 0;
}






.imgCard img {
    width: 100%;
    height: auto;
    display: block;
}


.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-cactus:hover .portfolio-info {
    opacity: 0.88; transform: translateY(0);
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-ampoule:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}

.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-paint:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-writing:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-flower-brush:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-highlight-pens:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-string:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-coloring-pencils:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-glasses-book:hover .portfolio-info {
    opacity: 0.7; transform: translateY(0);
}


.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus img{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text h4{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info text p{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button .readingGlasses{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .cactus .portfolio-info .button .chain{}

.portfolioBody_hs .layout_hs .movingImg_hs .ampoule{}
.portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .ampoule{}

/*2열*/
@media (max-width: 991px){
    .portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
        width: calc(var(--card) * 2 + var(--gap) * 1);
        height: calc(0.66*var(--card)*2 + 1.33*var(--card)*2 + var(--gap)*4);
    }

  #filter-all:checked ~ .movingImg_hs .card-cactus {top: 0px; left: 0px; opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-ampoule {top: 0px; left: calc(var(--card) + var(--gap));opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-paint {top: calc(0.66*var(--card) + var(--gap)); left: calc(var(--card) + var(--gap)); opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-writing {top: calc(1.33*var(--card) + var(--gap));left: 0px;opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-flower-brush {top: calc(0.66*var(--card)*2 + var(--gap)*2);left: calc(var(--card) + var(--gap));;opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-highlight-pens {top: calc(1.33*var(--card) + 0.66*var(--card) + var(--gap)*2);left: 0px;opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-string {top: calc(0.66*var(--card)*2 + 1.33*var(--card) + var(--gap)*3);left: calc(var(--card) + var(--gap));opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-coloring-pencils {top: calc(0.66*var(--card) + 1.33*var(--card)*2 + var(--gap)*3);left: 0px;opacity: 1;}

  #filter-all:checked ~ .movingImg_hs .card-glasses-book {top: calc(0.66*var(--card)*2 + 1.33*var(--card) + var(--gap)*3);left: calc(var(--card) + var(--gap));opacity: 1;}
}

/*app 선택 시*/
@media (max-width:1047px) {
    
  #filter-app:checked ~ .movingImg_hs .card-cactus {top: 0; left: 0;}
  #filter-app:checked ~ .movingImg_hs .card-writing {top: 0; left: calc(var(--card) + var(--gap));}
  #filter-app:checked ~ .movingImg_hs .card-string {top: calc(var(--card)*0.66 + var(--gap)); left: calc(var(--card) + var(--gap));}
}

/*card 선택 시*/
@media (max-width: 1047px) {
  #filter-card:checked ~ .movingImg_hs .card-ampoule {top: 0; left: 0;}
  #filter-card:checked ~ .movingImg_hs .card-flower-brush {top: 0; left: calc(var(--card) + var(--gap));}
  #filter-card:checked ~ .movingImg_hs .card-coloring-pencils {top: calc(var(--card)*0.66 + var(--gap)); left: 0;}
}


/*web 선택 시*/
@media (max-width: 1047px) {
  #filter-web:checked ~ .movingImg_hs .card-paint {top: 0; left: 0;}
  #filter-web:checked ~ .movingImg_hs .card-highlight-pens {top: 0; left: calc(var(--card)+ var(--gap));}
  #filter-web:checked ~ .movingImg_hs .card-glasses-book {top: calc(var(--card)*0.66 + var(--gap)); left: 0px;}
  
}

/*1열*/
@media (max-width: 767px) {
    .portfolio-section .portfolioBody_hs .layout_hs .movingImg_hs .card-wrapper{
        width: calc(var(--card));
    }

  .movingImg_hs {height: 2600px;}  /* 카드 개수 × 간격 */

  .movingImg_hs .imgCard { width: 100%;left: 0 !important;}

  /* ===== ALL ===== */
  #filter-all:checked ~ .movingImg_hs .card-cactus {top: 0px;}
  #filter-all:checked ~ .movingImg_hs .card-ampoule {top: calc(1.33*var(--card) + var(--gap));}
  #filter-all:checked ~ .movingImg_hs .card-paint {top: calc(1.33*var(--card) + 0.66*var(--card) + var(--gap)*2);}
  #filter-all:checked ~ .movingImg_hs .card-writing {top: calc(1.33*var(--card) + 0.66*var(--card)*2 + var(--gap)*3);}
  #filter-all:checked ~ .movingImg_hs .card-flower-brush {top: calc(1.33*var(--card) + 0.66*var(--card)*3 + var(--gap)*4);}
  #filter-all:checked ~ .movingImg_hs .card-highlight-pens {top: calc(1.33*var(--card)*2 + 0.66*var(--card)*3 + var(--gap)*5);}
  #filter-all:checked ~ .movingImg_hs .card-string {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*3 + var(--gap)*6);}
  #filter-all:checked ~ .movingImg_hs .card-coloring-pencils {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*4 + var(--gap)*7);}
  #filter-all:checked ~ .movingImg_hs .card-glasses-book {top: calc(1.33*var(--card)*3 + 0.66*var(--card)*5 + var(--gap)*8);}
}

@media (max-width: 767px) {
  #filter-app:checked ~ .movingImg_hs .card-cactus {top: 0px;}
  #filter-app:checked ~ .movingImg_hs .card-writing {top: 280px;}
  #filter-app:checked ~ .movingImg_hs .card-string {top: 560px;}
}

@media (max-width: 767px) {
  #filter-card:checked ~ .movingImg_hs .card-ampoule {top: 0px;}
  #filter-card:checked ~ .movingImg_hs .card-flower-brush {top: 280px;}
  #filter-card:checked ~ .movingImg_hs .card-coloring-pencils {top: 560px;}
}

@media (max-width: 767px) {
  #filter-web:checked ~ .movingImg_hs .card-paint {top: 0px;}
  #filter-web:checked ~ .movingImg_hs .card-highlight-pens {top: 280px;}
  #filter-web:checked ~ .movingImg_hs .card-glasses-book {top: 560px;}
}
/*
app=> 
card=>ampoule, brush, pencils
web=>paint, pens, book
*/


@media (max-width: 991px) {
  .imgCard {
    width: 45%;
  }
}

@media (max-width: 1400px) {
  :root {
    --card-size: 260px;
  }
}



