body{
    height:100vh;
}
.pricing-section{
    padding:0;
}

.container_title_sy,
.box_pricing-item_sy, 
.section_testimonials_sy .container_content_sy,
.faq_item_sy,
.section_subscribe_sy .container_content_sy,
.subscribe_row2_sy,
.subscribe_row1_sy h2, .subscribe_row1_sy p,
.all_box_sy
{ opacity: 0; animation: scroll_sy linear forwards;
}


/*애니메 구현 -=----------------*/
@keyframes scroll_sy{
    from{
        transform:translateY(50px); opacity: 0;
    }
    to{
        transform: translateY(0); opacity: 1;
    }
}



/*pricing-------------------------------------------*/

.section_pricing_sy{
    margin:0 auto;
    background:#f5f6f8;
    padding-bottom: 50px;
    view-timeline: --pricing;
    /*view-timeline-axis: block; 필요없나?*/
}
.container_title_sy{
    color: #37517E;
    font: 30px 'jost'; font-weight: 900;
    padding-bottom:20px;
    margin: 0 auto; margin-bottom:20px; max-width:1120px;
    text-align: center;

    
    
    
}
.container_title_sy h2{
    position:relative; padding-top: 50px; padding-bottom: 20px;
}
.container_title_sy h2::before{
    content:''; position:absolute; display:block;
    width:160px; height:1px; background:#c4c1c1;
    left:0px; right:0px; bottom:1px; margin:auto;
}
.container_title_sy h2::after{
    content: "";
    position: absolute; text-align: center;
    width: 60px;
    height: 3px;
    background: #47b2e4;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto; box-sizing:border-box;
    
}
.container_title_sy p{
    color:#444444; 
    font: 17px 'Open Sans';
    padding:20px;
}

.container_content_sy{
    text-align: center; width:100%;
    max-width:1320px; margin:0 auto;
}
.row_item_sy{
    display:flex; flex-wrap:wrap; justify-content:center;
    margin:0 auto; text-align: center; 
    max-width:1320px;

}
.box_pricing-item_sy{
    background:white;
    border-top:4px solid #f5f6f8; border-radius: 4px;
    padding:20px 10px;  flex:1; margin:10px 10px;
    text-align: left; font-family:'Open Sans', sans-serif;
    box-shadow: 0 0 25px rgba(0,0,0,0.08);
    
    
}
.pricing-item_sy {
    padding:20px 30px;
}

.pricing-item_sy h3{
    line-height:0.3; color:#37517E; font:21px 'Jost';
    padding:0; border: 0; margin-bottom: 10px; font-weight:600;
}
.pricing-item_sy h3 .first_letter_sy{
    font-size:23px;
}

.pricing-item_sy h4{
    color:#47B2E4; margin:5px;
    font:47px 'Jost'; font-weight:300;
    position:relative;

}
.pricing-item_sy h4 sup{
    position:absolute; top:-8px; left:-16px;font-size: 30px;
    font-weight: 400;

}
.pricing-item_sy h4 span{
    color:#7f8992; font-size:18px; margin-left:4px;
}
.pricing-item_sy ul{
    padding: 0; padding-bottom: 15px; margin-bottom: 30px;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.pricing-item_sy ul li{
    list-style: none; gap:5px;  padding:10px 0;
    display:flex; align-items: flex-start;
    
}
.off_sy{text-decoration: line-through; color:#ccc;}
.pricing-item_sy ul li i{
    width: 12px; height: 11px; flex-shrink: 0;
    margin-top: 7px;
    display: inline-block; background-repeat: no-repeat;
}

.icon_check_sy{
    background-size: 11px 11px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/11762/11762507.png)
}
.icon_x_sy{

    background-size: 9px 9px;
    background-image: url(https://openclipart.org/image/2000px/324409)
}

.row_item_sy > .box_pricing-item_sy:nth-of-type(2){
    border-top: 4px solid #47B2E4 ;
}
.pricing-item_sy ul li span{
    font-size: 17px; 
    color: #6c757d;font-weight: 300;
}
.buy_btn_sy{
    text-decoration: none;
    border: 1px solid #47B2E4;
    border-radius: 50px; width:30px; height:30px; padding: 13px 40px;
    margin-bottom: 20px;
    color:#47B2E4;
    font: 15px 'Jost'; font-weight: 600; 
    
}
.buy_btn_sy .first_letter_sy{
    font-size: 17px;
}
.row_item_sy > .box_pricing-item_sy:nth-of-type(2) .buy_btn_sy{
    background-color: #47b2e4;
    color:white;
}
.buy_btn_sy:hover{
    background-color: #47b2e4;
    color:white;
}
/*faq---------------------*/
.section_faq_sy{
    background: #f5f6f8;
    view-timeline: --faq;
}
.faq_container_sy{
    margin:0 auto;
    max-width:760px; 
    padding-bottom: 30px;
}
.faq_item_sy{
    margin:20px auto;margin-top:0;
    background-color: white; 
    box-shadow:0 6px 16px rgba(0,0,0,.06);
    padding:10px;
    flex: 0 1;align-items: center;
}
.faq_item_sy summary{list-style: none;}
.faq_item_sy summary::-webkit-details-marker{
    display:none;
}
.faq_header_sy{
    display:flex; align-items: center;
    justify-content:between;
    cursor:pointer; padding:10px 10px;
}
.faq_title_sy{
    flex:1; text-align: left; padding-left: 10px;
    color:#37517E;
    font:19px 'Jost'; font-weight: 600;
}

.faq_icon_sy{
    pointer-events: none;
    width: 22px; height: 22px;
    display:inline-grid;
    place-items:center;
    border-radius: 50%;
    border: 2px solid #22c5f7;
    color:#22c5f7;
    font-weight: 800;
    font-size: 12px;
}
.choose_sy{
    background-color: green; 
    cursor: pointer;
    display: flex; align-items: center;
}
.toggle_sy{
    width: 10px; height: 10px;
    border-right: 1px solid #696969;
    border-bottom: 1px solid #696969;
    transform: rotate(-45deg);
    transition: transform .2s ease;
}
.faq_item_sy[open] .toggle_sy{
    transform: rotate(45deg);
    transition: transform .2s ease;
    border-right: 1px solid #47B2E4;
    border-bottom: 1px solid #47B2E4;

}
.faq_item_sy[open] .faq_title_sy{
    color:#47B2E4;
    
}


.faq_content_sy{
    padding: 3px; margin:0 auto;
    color:#3f4a59; margin-left: 9px; margin-right: 20px;
    line-height: 1.6;
    text-align: justify;
} 

/*testimonials------------*/
.section_testimonials_sy{view-timeline:--testi;}

.section_testimonials_sy .container_title_sy, .section_testimonials_sy .container_content_sy{
    background: white;
    padding:30px;
    margin:0 auto;
}
.section_testimonials_sy .container_content_sy{
    display: block; justify-content: center;
    padding-top: 0;
}

.swiper_sy{ /*고정틀 창문*/
    width:800px; margin:0 auto; overflow:hidden;
    padding:10px 0;
}
.slide_sy{
    display:flex; align-items: center; width:500%;
    animation: slidemove_sy 16.5s linear infinite;
}

@keyframes slidemove_sy {
    /* 1 */
  0%      { transform: translateX(0%); }
  18.18%  { transform: translateX(0%); }
  20%     { transform: translateX(-20%); }

  /* 2 */
  38.18%  { transform: translateX(-20%); }
  40%     { transform: translateX(-40%); }

  /* 3 */
  58.18%  { transform: translateX(-40%); }
  60%     { transform: translateX(-60%); }

  /* 4 */
  78.18%  { transform: translateX(-60%); }
  80%     { transform: translateX(-80%); }

  /* 5 */
  98.18%  { transform: translateX(-80%); }
  100%    { transform: translateX(0%); } 
}
.tm_item_sy{
    width:20%; flex: 0 0 20%;
    display:block; text-align: center;
    

}
.tm_img_sy{
    width:120px; height:120px;
    justify-content: center;
    margin:0px;
    object-fit:cover; /* 찌그러짐 방지 */
    border-radius:50%;
}

.tm_item_sy h3 span{
    font: 20px 'Jost'; color:#37517E; font-weight: 900;
    margin:5px; height:30px;
    display:block;

}
.tm_item_sy h4 span{
    font:14px 'Jost'; color:#8b8b8b; font-weight:500;
    display:block; 
    margin:0px auto; margin-bottom:23px; 

}
.stars_sy{
    display: block; 
    align-items:center; display:flex; justify-content: center;
    width:90px; height:17px; padding:10px 0; margin:7px auto;
    background-image: url(https://www.freeiconspng.com/uploads/yellow-christmas-star-png-18.png);
    background-size:18px 19px; 
}



.tm_content_sy{
    margin: 0 auto; padding:10px;
    font:15px 'Open Sans';
    font-style: italic; font-weight: 600;
    color:#5e5e5e;
    position:relative; line-height: 1.8;
    text-align: center;
    
}
.tm_content_sy span{
    padding:0 30px;
    margin:10px 10px;
}
.quote_sy{
    position:absolute;
    color:#47B2E4;
    font-size: 28px; opacity:0.6;
    font-family:'bootstrap-icons';
}


.tm_content_sy .quote_sy:first-of-type{
    left:30px; top:-3px;

}

.tm_content_sy .quote_sy:last-of-type{
    right:40px; bottom:-5px;
    transform:rotate(180deg);
}



.swiper_pagination_sy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 22px;

}
.pagination_sy{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ddd;
}

/*밑에 pagination 점 ----------------------------*/
/* 1번 점 */
.swiper_pagination_sy .pagination_sy:nth-child(1){
  animation: dot1 16.5s infinite;
}
/* 2번 점 */
.swiper_pagination_sy .pagination_sy:nth-child(2){
  animation: dot2 16.5s infinite;
}
/* 3번 점 */
.swiper_pagination_sy .pagination_sy:nth-child(3){
  animation: dot3 16.5s infinite;
}
/* 4번 점 */
.swiper_pagination_sy .pagination_sy:nth-child(4){
  animation: dot4 16.5s infinite;
}
/* 5번 점 */
.swiper_pagination_sy .pagination_sy:nth-child(5){
  animation: dot5 16.5s infinite;
}

/* 공통: 파란색(활성) */
@keyframes dot1{
  0%, 18.18%   { background:#47b2e4; }
  20%, 100%    { background:#ddd; }
}
@keyframes dot2{
  0%, 18.18%   { background:#ddd; }
  20%, 38.18%  { background:#47b2e4; }
  40%, 100%    { background:#ddd; }
}
@keyframes dot3{
  0%, 38.18%   { background:#ddd; }
  40%, 58.18%  { background:#47b2e4; }
  60%, 100%    { background:#ddd; }
}
@keyframes dot4{
  0%, 58.18%   { background:#ddd; }
  60%, 78.18%  { background:#47b2e4; }
  80%, 100%    { background:#ddd; }
}
@keyframes dot5{
  0%, 78.18%   { background:#ddd; }
  80%, 98.18%  { background:#47b2e4; }
  100%         { background:#ddd; }
}

/*subscribe--------------------------------*/
.section_subscribe_sy{view-timeline: --sub;}
.section_subscribe_sy .container_content_sy{
    background-color: #f5f6f8;
    max-width:1140px; width: 100%; height:470px;min-height: 380px;
    padding:60px 80px; padding-bottom: 0;
    margin:70px auto; 
    border-radius: 20px;
    position: relative;
    
}
.row_container_sy{
    max-width:1100px; width: 100%; height:100%;
    margin: 0 auto; 
    display:flex; justify-content: space-between;
    align-items: center; gap:200px;
}
.subscribe_row1_sy{
    flex:1; min-width: 0;
    width:500px; height:auto; padding:0;
}
.subscribe_row1_sy h2{
    font: 40px 'Jost'; font-weight:700;
    color:#37517E;
    text-align: left; line-height: 1.2; margin: 0 0 14px;
    padding-bottom:20px;
    text-transform: none;

}

.subscribe_row1_sy p{
    font:18px 'Open Sans';
    text-align:left; justify-content:left;
    width: 100%;
    padding:0; margin-bottom:30px;
    letter-spacing: -0.02em; line-height:1.6;

}
.all_box_sy{
    width:100%;
}
#error_toggle_sy{
    display:none;
}
#error_toggle_sy:checked ~ .container_content_sy .subscribe_row2_sy{height: 111%;}
#error_toggle_sy:checked ~ .container_content_sy .error_box_sy{
    display: block;
}
#error_toggle_sy:checked ~ .container_content_sy{
    height:440px;
    padding-bottom: 30px;
}
.input_box_sy{
    display:flex; width:100%; height:50px;
    border: 1px solid#47b2e4; background: #fff;
    border-radius: 30px; overflow: hidden;

}
.input_box_sy input{
    flex:1; border: none; outline:none;
    padding:0 20px; font: 15px 'Open Sans';
}
.email_sy{
    padding:0 30px;
}
.subscribe_btn_sy{
    background: #47B2E4; color:#fff; padding:0 35px;
    cursor: pointer; 
    font:17px 'Open Sans'; font-weight:600;
    display:flex; align-items: center; justify-content: center;
    white-space: nowrap;
}
.error_box_sy{
    display:none; width:100%;
    background-color: rgb(209, 29, 29); color:#fff;
    padding:15px 18px; margin-top:15px;
    font-weight: 600; font-size:17px; line-height: 1.4;
    text-align: left;
}
.subscribe_row2_sy{    
    align-items:flex-end; display:flex; justify-content:flex-end;
    flex: 0 0 289px; width: 250px; height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 313px 411px;
    background-position: right bottom;
    background-image: url(https://bootstrapmade.com/content/demo/Arsha/assets/img/cta/cta-1.webp);
    background-position: center;
}


/*애니메 -----------------------------------------
.container_title_sy,/*세개 다 뜨는 거라 ㄱㅊ을 듯
.box_pricing-item_sy, 
/* 컨텐츠는 testi, subscribe 만 
.section_testimonials_sy .container_content_sy,
.faq_item_sy,
.section_subscribe_sy .container_content_sy,
.subscribe_row2_sy,
.subscribe_row1_sy h2, .subscribe_row1_sy p,
.all_box_sy */

.section_pricing_sy .container_title_sy{
    animation-timeline: --pricing;
    animation-range: entry 55% entry 75%;
}
.box_pricing-item_sy:nth-of-type(1){animation-timeline: --pricing; animation-range: entry 70% entry 90%;}
.box_pricing-item_sy:nth-of-type(2){animation-timeline: --pricing; animation-range: entry 75% entry 95%;}
.box_pricing-item_sy:nth-of-type(3){animation-timeline: --pricing; animation-range: entry 80% entry 100%;}

.section_testimonials_sy .container_title_sy{
    animation-timeline: --testi;
    animation-range: entry 55% entry 75%;
}

.section_testimonials_sy .container_content_sy{
    animation-timeline: --testi;
    animation-range: entry 75% entry 100%;
}

.section_faq_sy .container_title_sy{
    animation-timeline: --faq;
    animation-range: entry 45% entry 75%;
}

.faq_item_sy:nth-of-type(1){animation-timeline: --faq; animation-range:entry 56% entry 60% ;animation-timing-function: ease-out;}
.faq_item_sy:nth-of-type(2){animation-timeline: --faq; animation-range:entry 60% entry 70% ;animation-timing-function: ease-out;}
.faq_item_sy:nth-of-type(3){animation-timeline: --faq; animation-range:entry 70% entry 80% ;animation-timing-function: ease-out;}
.faq_item_sy:nth-of-type(4){animation-timeline: --faq; animation-range:entry 80% entry 90% ;animation-timing-function: ease-out;}
.faq_item_sy:nth-of-type(5){animation-timeline: --faq; animation-range:entry 90% entry 100% ;animation-timing-function: ease-out;}

.section_subscribe_sy .container_content_sy{
    animation-timeline: --sub; animation-range: entry 30% entry 40%;
}
.subscribe_row2_sy{
    animation-timeline: --sub; animation-range: entry 60% entry 80%;
}

.subscribe_row1_sy h2,
.subscribe_row1_sy p{
    animation-timeline: --sub; animation-range: entry 66% entry 85%;
}
.all_box_sy{
    animation-timeline: --sub; animation-range: entry 85% entry 97%;
}


/*애니메 끝-----------------*/





/*반응형-----------------------*/

@media(max-width:1320px){
    .row_item_sy{
        max-width:1140px;
    }
}
@media(max-width:1200px){
    .row_item_sy{
        max-width:960px ;
    }
    .faq_container_sy{
        max-width:800px;
    }
    .section_subscribe_sy .container_content_sy{max-width: 960px;}
}
@media(max-width:980px){
    
    .container_content_sy{
        max-width:760px;
        margin:0 auto;
    }
    .row_item_sy{ /*어디꺼임? pricing*/
        max-width:100%;
        padding: 0 15px;
    }
    .faq_container_sy{max-width: 720px;}
    .box_pricing-item_sy{
        flex: 0 1 100%;
    }
    .row_container_sy{ /*subscribe*/
        flex-direction:column; align-items: center;
        gap:0;

    }
    .section_subscribe_sy .container_content_sy{
        height:auto;
    }
    .subscribe_row2_sy{ 
        justify-content: center;
        flex: 0 0 641px;
        height: 800px;
        width: 100%;
        margin-top: 30px;
        background-size: 538px 661px;

    }
    .section_subscribe_sy .container_content_sy{ /*중앙정렬 시작*/
        max-width: 720px ;
    }
    
    #error_toggle_sy:checked ~ .container_content_sy{
        height: auto;



}


}
@media(max-width:760px){
    .row_item_sy{
        margin:0 50px;
    }
    .swiper_sy{
        max-width:540px ;
    }
    .faq_container_sy{max-width: 520px;}
    .section_subscribe_sy .container_content_sy{
        max-width:540px;
    }
    .row_container_sy{
        width:auto;
    }
    .subscribe_row1_sy{width:100%;
    text-align:center;}
    .subscribe_row2_sy{
        justify-content: center;
        flex: 0 0 558px;
        height: 800px;
        width: 100%;
        margin-top: 30px;
        background-size: 416px 536px;
    }


}
