body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #444444;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 500px;
}
/*이상해지면 걍 삭제 해보기*/
section {
  padding: 80px 10%;
}