/* ===== TEAM SECTION ===== */
#team {
  padding: 60px 0;
  background-color: #ffffff;
}

.team-header_cr {
  padding: 0 12px 60px;
  margin: 0 40px;
  text-align: center;
}

.team-header_cr h2 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #37517e;
  text-align: center;
  padding-bottom: 20px;
}

/* 좌우 얇은 회색 선 */
.team-header_cr h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: rgba(68, 68, 68, 0.4);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

/* 가운데 파란 굵은 선 */
.team-header_cr h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #47b2e4;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.team-header_cr p {
  color: #444444;
  font-size: 16px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 40px;
  margin-top: 10px;
  line-height: 1.5;
}

/* ===== CARDS ===== */
.team-cards_cr {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-card_cr {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*hover기능!!!!!*/
.team-card_cr:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

.team-card_cr .team-card-img-wrapper_cr {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.team-card_cr .team-card-img-wrapper_cr img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== CARD INFO ===== */
.team-info_cr h3 {
  font-size: 20px;
  font-weight: 700;
  color: #37517e;
  margin-bottom: 5px;
}

.team-info_cr span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #6c757d;
  padding-bottom: 10px;
  position: relative;
}

.team-info_cr span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.team-info_cr p {
  font-size: 14px;
  color: #444;
  margin: 10px 0 15px;
  line-height: 1.5;
}

/* ===== SOCIAL ICONS ===== */
.social_cr {
  display: flex;
  align-items: center;
}

.social_cr a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #eff2f8;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #37517e;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
/*두번째 아이콘 부터만 margin주기 */
.social_cr a + a {
  margin-left: 8px;
}

.social_cr a i {
  font-size: 16px;
  line-height: 1;
}

/*hover기능!!!!!*/
.social_cr a:hover {
  background-color: #47b2e4;
  color: #fff;
}

/* ===== 반응형!!!!!!!!!!!!!!!! ===== */
@media (max-width: 768px) {
  .team-cards {
    grid-template-columns: 1fr;
  }

  .team-card {
    flex-direction: column;
    text-align: center;
  }
}